body {
    font-family: sans-serif;
    max-width: 600px;
    margin: auto;
    padding: 1em;
}

#recordedAudio {
    display: none;
}

#recent-languages-container {
    margin-top: 0.5em;
}

#recent-languages button {
    margin-right: 0.5em;
}
